<div class="row">
    <div class="col-md-6 m-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title">LOGIN PAGE</h5>
                <p class="card-text">create an account or login </p>
                <a href="/user/register" class="btn btn-primary">register</a>
                <a href="/user/login" class="btn btn-primary">login</a>
            </div>
        </div>

    </div>
</div>